<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="de.vincentscode.stickerapp.StickerApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="de.vincentscode.stickerapp.EntryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="de.vincentscode.stickerapp.StickerPackListActivity" />
        <activity
            android:name="de.vincentscode.stickerapp.StickerPackDetailsActivity"
            android:parentActivityName="de.vincentscode.stickerapp.StickerPackListActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.vincentscode.stickerapp.StickerPackListActivity" />
        </activity>
        <activity
            android:name="de.vincentscode.stickerapp.StickerPackInfoActivity"
            android:label="@string/title_activity_sticker_pack_info"
            android:parentActivityName="de.vincentscode.stickerapp.StickerPackDetailsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.vincentscode.stickerapp.StickerPackDetailsActivity" />
        </activity>

        <provider
            android:name="de.vincentscode.stickerapp.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />
    </application>

    <!-- to be able to query the whitelist status in WhatsApp
     https://developer.android.com/training/basics/intents/package-visibility#package-name -->
    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>
</manifest>
